:root {
  --primary-color: #1e3a5f;
  --secondary-color: #2f5d50;
  --accent1-color: #3dbeff;
  --accent2-color: #ff8c42;

  --heading-font: "Bebas Neue", sans-serif;
  --body-font: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--secondary-color);
}

header,
main,
footer {
  max-width: 54rem;
  margin: 0 auto;
}

header {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
  padding: 1rem;
}

header a {
  text-decoration: none;
  color: inherit;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav,
section,
article {
  padding: 0.5rem;
}

section {
  margin-block: 2rem;
}

.history-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.history-content img {
  width: 250px;
  height: auto;
}

.socialmedia a {
  text-decoration: none;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 1.25rem;
  width: 100%;
  padding: 1rem;
  text-align: center;
  opacity: 0.8;
  background-color: var(--primary-color);
  color: var(--accent1-color);
}

h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.hero article {
  position: absolute;
  top: 20%;
  left: 10%;
  max-width: 80%;
  margin: 0;
  padding: 1rem;
  background-color: var(--accent2-color);
  color: var(--secondary-color);
}

.hero article img {
  float: right;
  width: 125px;
}

.adventure-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

figure img {
  width: 100%;
  height: auto;
}
figcaption {
  text-align: center;
  font-style: italic;
  font-size: 12px;
}

footer {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socialmedia {
  display: flex;
  align-items: center;
  gap: 1rem;
}
